:root {
  --orange: #ffb606;
  --white: #fdfdfd;
  --black: #212322;
}

body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
  margin: 0;
  font-family: 'Source Sans Pro';
}

.wrapper {
  padding: 25px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.navBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background: white;
  z-index: 5;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: var(--black);
  text-decoration: none;
}

.navRow {
  max-width: 1250px;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.brandImg {
  height: 50px;
}

.links {
  font-size: 1em;
  margin-right: 20px;
  line-height: .9;
  font-weight: 700;
  color: var(--black);
}

.links:hover {
  color: var(--orange);
}

.hamburger {
  display: none;
  text-decoration: none;
  color: (--black);
}

.landing {
  position: relative;
  background-image: url(https://www.jarrodyellets.com/images/padme/PadmeHero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 50px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.aboutWrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.aboutPhotos {
  position: relative;
  width: 55%;
  height: 45vw;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeabout1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutMedPhoto {
  position: absolute;
  z-index: 1;
  height: 35vw;
  width: 30vw;
  left: 0;
  right: 0;
  top: 5%;
  margin: 0 auto;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeaboutmd.png");
  background-position: center;
  background-repeat: no-repeat; 
}

.aboutSmPhoto {
  position: absolute;
  z-index: 2;
  height: 20vw;
  width: 35vw;
  right: -10%;
  bottom: 0;
  margin: 0 auto;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeabout3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.aboutText {
  position: relative;
  width: 40%;
}

.aboutTextDiv {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.aboutTitle {
  color: var(--orange);
  margin: 0 0 20px 0;
}

.aboutHeadline {
  position: relative;
  margin-top: 0;
  margin: 0 0 25px -14vw;
  font-size: 4.1vw;
  text-align: right;
}

.aboutTextP {
  position: relative;
  padding: 25px 0;
  margin: 0;
  font-size: .9em;
  line-height: 1.8;
  font-weight: 700;
}

.aboutLine {
  width: 40px;
  height: 2px;
  background-color: var(--orange);
}

.aboutButton {
  border: 2px solid var(--orange);
  color: var(--black);
  background-color: var(--white);
  padding: 5px 30px;
  font-size: .9em;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  cursor: pointer;
}


@media screen and (max-width: 768px){

  .brand {
    display: none;
  }

  .navLinks {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -170px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .hamburger {
    display: block;
    color: var(--black);
    font-size: 20px;
  }
}