:root {
  --orange: #ffb606;
  --white: #fdfdfd;
  --black: #212322;
  --green: #33baaf;
}

body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
  margin: 0;
  font-family: 'Source Sans Pro';
}

.wrapper {
  padding: 25px 25px 0 25px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.navBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background: white;
  z-index: 5;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navRow {
  max-width: 1250px;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.brandImg {
  height: 50px;
}

.navBar ul li {
  display: inline-block;
}

.navBar ul li a{
  font-size: 1em;
  margin-right: 20px;
  line-height: .9;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
}

.active .links {
  color: var(--orange);
}

.links:hover {
  color: var(--green);
}

.hamburger, .navClose {
  display: none;
  text-decoration: none;
  color: (--black);
}

.landing {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 100px;
}

.landingImg {
  position: fixed;
  background-image: url(https://www.jarrodyellets.com/images/padme/PadmeHero.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  width: calc(100% - 50px);
  box-sizing: border-box;
}

.scrollDown {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 95px;
  height: 47.5px;
  margin: 0 auto;
  cursor: pointer;
}

.scrollDown:hover .spinner {
  animation: spin 4s infinite linear;
}

.scrollDown:hover .fa-angle-down:before {
  color: var(--green);
}

.spinner {
  position: absolute;
  bottom: -47px;
  right: 0;
  left: 0;
  background: url("https://www.jarrodyellets.com/images/padme/spinner.svg");
  background-size: cover;
  width: 95px;
  height: 95px;
  cursor: pointer;
}

.fa-angle-down:before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 2px;
  font-size: 2em;
  margin: 0 auto;
  color: var(--orange);
  display: flex;
  justify-content: center;
}

.innerWrapper {
  max-width: 1250px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.aboutInnerWrapper {
  display: flex;
}

.aboutWrapper {
  position: relative;
  display: flex;
  width: 100%;
  padding: 100px 0;
  background: var(--white);
}

.aboutPhotos {
  position: relative;
  width: 55%;
  height: 45vw;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeabout1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutMedPhoto {
  position: absolute;
  z-index: 1;
  height: 35vw;
  width: 30vw;
  left: 0;
  right: 0;
  top: 20%;
  margin: 0 auto;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeaboutmd.png");
  background-position: center;
  background-repeat: no-repeat; 
}

.aboutSmPhoto {
  position: absolute;
  z-index: 2;
  height: 20vw;
  width: 35vw;
  right: -10%;
  bottom: 0;
  margin: 0 auto;
  background-image: url("https://www.jarrodyellets.com/images/padme/padmeabout3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.aboutText {
  position: relative;
  width: 40%;
}

.aboutTextDiv {
  position: absolute;
  width: 60%;
  top: 30%;
  right: 0;
  
}

.contentTitle {
  color: var(--orange);
  margin: 0 0 20px 0;
}

.aboutHeadline {
  margin: 0 0 25px -20vw;
  text-align: right;
}

.headline {
  position: relative;
  margin-top: 0;
  font-size: 5vw;
}

.textP {
  position: relative;
  padding: 25px 0;
  margin: 0;
  font-size: .9em;
  line-height: 1.8;
  font-weight: 700;
}

p {
  margin: 0;
}

.contentLine {
  width: 0;
  height: 2px;
  background-color: var(--orange);
  transition: all .5s ease-in;
}

.contentLineWidth {
  width: 40px;
}

.button {
  position: relative;
  border: 2px solid var(--orange);
  color: var(--black);
  background-color: var(--white);
  padding: 5px 30px;
  font-size: .9em;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  cursor: pointer;
  overflow: hidden;
  transition: all .2s linear;
}

.buttonBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  background: var(--green);
}

.buttonSpan {
  position: relative;
  z-index: 1;
}

.button:hover {
  color: var(--white);
}

.lineBreakWrapper {
  position: relative;
  background: var(--white);
}

.lineBreak {
  width: 40px;
  height: 2px;
  background-color: var(--green);
  margin: 0 auto;
}

.menuWrapper {
  background: var(--white);
  position: relative;
  padding: 80px 0 100px 0;
  width: 100%;
}

.menuTitleBar {
  position: relative;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.menuTitleBar:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.jarrodyellets.com/images/padme/menuHeaderImg.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  filter: opacity(.1) sepia(50%);
}

.titleBarText {
  width: 40%;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.leftTitle {
  margin-left: 10vw
}

.leftHeadline {
  margin: 0 -25vw 25px 0;
  margin-top: 0;
}

.leftContentLine {
  margin-left: 10vw;
}

.leftAbout {
  margin-left: 10vw;
}

.menuContentWrapper {
  display: flex;
  width: 100%;
}

.menuLeft {
  width: 40%;
  padding: 0 20px;
}

.menuMenu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--orange);
  padding: 20px 0 20px 0;
  cursor: pointer;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--green);
}

.menuMenu:hover .menuItem{
  color: var(--orange) !important;
}

.menuAcord {
  display: none;
  height: auto;
}

.menuGrid {
  width: 100%; 
  padding-top: 20px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  transition: max-height 1500ms linear;
  font-size: 1.1em;
  font-weight: 700;
}

.menuGridItem {
  text-align: left;
}

.menuGridPrice {
  text-align: right;
}

.menuOrganic {
  height: 3vw;
  margin-top: 50px;
  background-image: url("https://www.jarrodyellets.com/images/padme/organicLabels.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.menuRight {
  position: relative;
  width: 60%;
}

.menuImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-height: 400px;
  width: auto;
  display: none;
  filter: contrast(110%);
}

.stageWrapper {
  position: relative;
  background: var(--white);
  padding: 100px 0;
}

.stageContentWrapper {
  width: 100%;
}

.stageTitleBar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.stageTitleBar:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  background-image: url("https://www.jarrodyellets.com/images/padme/stageHeader.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  filter: opacity(.1) sepia(50%);
}

.stageLower {
  position: relative;
  display: flex;
}

.stageTextDiv {
  width: 40%;
  margin-right: 5%;
  margin-top: 50px;
}

.stageTitle {
  margin-left: 40%;
}

.stageHeadline {
  margin-left: -20vw;
  margin-bottom: 25px;
  text-align: right;
}

.stageLine {
  margin-left: 40%;
}

.stageTextP {
  margin-left: 40%;
}

.stageSchedule {
  position: relative;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 40px;
}

.stageScheduleBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.stageScheduleLeftBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.stageDate {
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 30px;
  margin-bottom: 5px;
}

.bandImg {
  width: 40%;
  filter: grayscale(80%);
  margin-right: 10px;
}

.stageHeadliner {
  font-size: 1.6em;
  font-weight: 700;
}

.stageCoupon {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stageCouponWrapper {
  height: 90%;
  width: 45%;
  border: 2px dashed var(--orange);
  padding: 20px;
  margin-left: 27%;
}

.stageCouponCoffee {
  font-size: 2.3em;
  font-weight: 700;
  text-align: center;
  color: var(--green);
}

.stageCouponAbout {
  font-size: 1.3em;
  text-align: center;
}

.stageCouponImg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;
  filter: contrast(110%) grayscale(90%);
}

.stageCouponExcept {
  font-size: .8em;
  text-align: center;
}


.contactWrapper {
  background: var(--white);
  position: relative;
  padding: 80px 0 100px 0;
}

.contactTitleBar {
  position: relative;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.contactTitleBarText {
  width: 40%;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.contactTitleBar:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  right: 0;
  background-image: url("https://www.jarrodyellets.com/images/padme/contactHeader.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  filter: opacity(.1) sepia(50%);
}

.contactTextWrapper {
  display: flex;
}

.contactLeft {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}

.contactAddressHeader {
  font-size: 1.1em;
  color: var(--green);
  font-weight: 700;
  margin-bottom: 5px;
}

.contactData {
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5;
}

.contactStreetWrapper {
  margin-bottom: 20px;
}

.social {
  font-size: 1.8em;
  color: var(--green);
  margin: 20px 20px 0 0;
  cursor: pointer;
}

.social:hover {
  color: var(--orange);
}

.contactRight {
  position: relative;
  width: 65%;
  height: 25vw;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
}

.mapAfter {
  display: none;
}

footer {
  background-color: var(--green);
}

.footerWrapper {
  position: relative;
	width: 100%;
	height: 80px;
	color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1
}

.footerAddress {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  padding-left: 30px;
  margin-right: auto;
}

.author {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerContact {
	margin-left: 30px;
}

.footerRight {
	display: flex;
	justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.footerSocial {
	text-align: center;
	padding-right: 30px;
}

.socialTitle {
  margin-bottom: 5px;
}

.socialFoot {
	font-size: 1.8em;
	margin: 0 10px;
	cursor: pointer;
}

@keyframes buttonOver {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

@keyframes buttonOut {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@media screen and (min-width: 1250px){
  .headline {
    font-size: 62.5px;
  }
}

@media screen and (max-width: 768px){

  .brand {
    display: none;
  }

  .navLinks {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -170px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--white);
    padding-left: 20px;
    transition: all 500ms;
  }

  .navLinks > li {
    padding: 10px 0;
  }

  .navWidth {
    right: 0;
  }

  .navClose {
    text-align: right;
    font-size: 20px;
    display: block;
    padding-right: 20px;
    color: var(--black);
  }

  .hamburger {
    display: block;
    color: var(--black);
    font-size: 20px;
    text-align: right;
  }

  .aboutInnerWrapper {
    flex-direction: column-reverse;
  }

  .aboutText {
    width: 100%;
  }

  .aboutTextDiv {
    position: relative;
    width: 100%;
  }

  .headline {
    text-align: left;
    margin: 0 0 25px 0;
    font-size: 3em;
  }

  .no-transform {
    transform: none !important;
  }

  .aboutPhotos {
    width: 100%;
    margin-top: 30px;
    height: 50vh;
    background-image: none;
  }

  .aboutMedPhoto {
    height: 50vh;
    width: 100%;
    top: 0;
  }

  .aboutSmPhoto {
    display: none;
  }

  .titleBarText {
    width: 100%;
    margin: 0;
  }

  .menuTitleBar:before {
    background-image: none;
  }

  .leftTitle {
    margin: 0 0 20px 0;
  }

  .leftContentLine {
    margin: 0;
  }

  .leftAbout {
    width: 100%;
    margin: 0;
  }

  .menuLeft {
    width: 100%;
  }

  .menuRight {
    display: none;
  }
}