body {
  font-size: 16px;
  background-color: white;
  overflow-x: hidden;
}

.wrapper {
  padding: 25px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.landing {
  background-image: url(https://www.jarrodyellets.com/images/padme/PadmeHero.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 62.5px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}